<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>find</servlet-name>
        <servlet-class>org.example.utils.SelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>find</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>res</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>res</servlet-name>
        <url-pattern>/res</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>last</servlet-name>
        <servlet-class>org.example.utils.Last</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>last</servlet-name>
        <url-pattern>/last</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>next</servlet-name>
        <servlet-class>org.example.utils.Next</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>next</servlet-name>
        <url-pattern>/next</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>see</servlet-name>
        <servlet-class>org.example.utils.See</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>see</servlet-name>
        <url-pattern>/see</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>new</servlet-name>
        <servlet-class>org.example.utils.NewNum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>new</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sort1</servlet-name>
        <servlet-class>org.example.utils.Sort1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sort1</servlet-name>
        <url-pattern>/sort1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sort2</servlet-name>
        <servlet-class>org.example.utils.Sort2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sort2</servlet-name>
        <url-pattern>/sort2</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>All</filter-name>
        <filter-class>org.example.utils.AllFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>All</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>